# visual studio project file
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

# build output
build/
dist/

# symlinks
src/modules
*.symlink

# intermediate files
.cache/
.astro/

# Dependency directories
node_modules/

# development tools
emsdk/

# macOS
.DS_Store