<div class="panel panel-default" style="height:300px; max-height:300px; overflow: scroll;">
	<table class="table table-bordered table-striped">
		<tbody>
			<tr>
				<th></th>
				<th ng-repeat="n in [].constructor(16) track by $index">
					+{{ $index | base:16 | fixedLength:1 }}
				</th>
			</tr>
			<tr ng-repeat="value in memory.data track by $index" ng-if="$index%16 == 0">
				<th>{{ $index | address }}</th>
	      <td ng-class="{'warning':$index+0==cpu.mar}">{{ memory.data[$index+0] | memory }}</td>
	      <td ng-class="{'warning':$index+1==cpu.mar}">{{ memory.data[$index+1] | memory }}</td>
	      <td ng-class="{'warning':$index+2==cpu.mar}">{{ memory.data[$index+2] | memory }}</td>
	      <td ng-class="{'warning':$index+3==cpu.mar}">{{ memory.data[$index+3] | memory }}</td>
	      <td ng-class="{'warning':$index+4==cpu.mar}">{{ memory.data[$index+4] | memory }}</td>
	      <td ng-class="{'warning':$index+5==cpu.mar}">{{ memory.data[$index+5] | memory }}</td>
	      <td ng-class="{'warning':$index+6==cpu.mar}">{{ memory.data[$index+6] | memory }}</td>
				<td ng-class="{'warning':$index+7==cpu.mar}">{{ memory.data[$index+7] | memory }}</td>
				<td ng-class="{'warning':$index+8==cpu.mar}">{{ memory.data[$index+8] | memory }}</td>
				<td ng-class="{'warning':$index+9==cpu.mar}">{{ memory.data[$index+9] | memory }}</td>
				<td ng-class="{ 'warning':$index+10==cpu.mar}">{{ memory.data[$index+10] | memory }}</td>
				<td ng-class="{ 'warning':$index+11==cpu.mar}">{{ memory.data[$index+11] | memory }}</td>
				<td ng-class="{ 'warning':$index+12==cpu.mar}">{{ memory.data[$index+12] | memory }}</td>
				<td ng-class="{ 'warning':$index+13==cpu.mar}">{{ memory.data[$index+13] | memory }}</td>
				<td ng-class="{ 'warning':$index+14==cpu.mar}">{{ memory.data[$index+14] | memory }}</td>
				<td ng-class="{ 'warning':$index+15==cpu.mar}">{{ memory.data[$index+15] | memory }}</td>
    	</tr>
		</tbody>
	</table>
</div>
