<!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid clearfix">

		<!-- header -->
		<div class="navbar-header">
			<a class="navbar-brand">MARIE Simulator</a>
		</div>

		<!-- navigation -->
    <ul class="nav navbar-nav navbar-collapse">
			<li><a target="_blank" href="https://github.com/mathewmariani/marie-simulator/blob/master/cheatsheet.md">Cheatsheet</a></li>
			<li><a target="_blank" href="https://github.com/mathewmariani/marie-simulator/blob/master/student_resource.md">Resources</a></li>
			<li><a target="_blank" href="https://gist.github.com/mathewmariani/91f471422c4ac0b5ee37">Examples</a></li>
			<li><a href="https://github.com/mathewmariani/marie-simulator">Github</a></li>

			<!--
			TODO: implement new navbar
			<li><a target="_blank" href="#">Cheatsheet</a></li>
			<li><a target="_blank" href="#">Examples</a></li>
			<li><a target="_blank" href="#">Wiki</a></li>
			<li><a target="_blank" href="#">Github</a></li>
		 	-->
		</ul>

  </div>
</nav>
