//- Ouput Filter
li(class="dropdown-header") Output Filter
li
  a(ng-click="setOutputFilter('decimal')") Decimal
li
  a(ng-click="setOutputFilter('hexadecimal')") Hexadecimal
li
  a(ng-click="setOutputFilter('ascii')") ASCII
