li
  a(href="https://github.com/mathewmariani/marie-simulator/blob/master/cheatsheet.md") Cheatsheet
li
  a(href="https://github.com/mathewmariani/marie-simulator/blob/master/student_resource.md") Resources
li
  a(href="https://gist.github.com/mathewmariani/91f471422c4ac0b5ee37") Examples        
li
  a(href="https://github.com/mathewmariani/marie-simulator") Github
