//- CPU settings
li(class="dropdown")
  a(class="dropdown-toggle" href='#' data-toggle='dropdown' role='button', aria-haspopup='true' aria-expanded='false')
    | Options
    span.caret
  ul(class="dropdown-menu")
    include ./options/cpu_speed.jade
    li(role="separator" class="divider")
    include ./options/output_filter.jade
