//- File settings
li(class="dropdown")
  a(class="dropdown-toggle" href='#' data-toggle='dropdown' role='button', aria-haspopup='true' aria-expanded='false')
    | File
    span.caret
  ul(class="dropdown-menu")
    li
      a() New File
    li
      a() Open...
    li
      a() Reopen Last Item
    
    li(role="separator" class="divider")
    
    li  
      a() Save
    li
      a() Save As...
