a(role="button" ng-click="halt()" class="close pull-right")
  span(class="fa fa-stop" aria-hidden="true")
a(role="button" id="tour_MachineControls" ng-click="run()" class="close pull-right")
  span(class="fa fa-play" aria-hidden="true" style="padding-right: 5px;")
a(role="button" ng-click="stepForward()" class="close pull-right")
  span(class="fa fa-step-forward" aria-hidden="true" style="padding-right: 5px;")
