div(class="panel panel-default")
  table(id="tour_MachineRegisters" class="table")
    thead
      tr
        th AC
        th IR
        th MAR
        th MBR
        th PC
    tbody
      tr
        td {{ cpu.AC.read() | memoryfilter }}
        td {{ cpu.IR.read() | memoryfilter }}
        td {{ cpu.MAR.read() | memoryfilter }}
        td {{ cpu.MBR.read() | memoryfilter }}
        td {{ cpu.PC.read() | memoryfilter }}
