div(id="tour_Assembly" class="panel panel-default")
  div(class="panel-body")
    p(class="lead") Assembly Information
      include ./assembly/controls.jade
              
    include ./assembly/errors.jade          
    include ./assembly/instructions.jade

    a(id="startAssemblyTour" class="close pull-right" aria-hidden="true")
      span(class="fa fa-question-circle" aria-hidden="true")
