div(class="panel panel-default")
  div(class="panel-body")
    p(class="lead") Assembly Information
      a(ng-click="assemble()" class="close pull-right" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Assemble code")
        span(class="fa fa-refresh" aria-hidden="true" style="padding-right: 5px;")
    
    include assembly_errors.jade          
    include assembly_instructions.jade
