nav(class="navbar navbar-default")
  div(class="container-fluid clearfix")

    div(class="navbar-header")
      a(class="navbar-brand") MARIE Simulator
    
    ul(class="nav navbar-nav navbar-collapse")
      include ./header/navigation.jade
      
    ul(class="nav navbar-nav navbar-right navbar-collapse")
      //- include ./header/output_filter.jade
      //- include ./header/cpu_speed.jade
