nav(class="navbar navbar-default")
  div(class="container-fluid clearfix")

    div(class="navbar-header")
      a(class="navbar-brand") MARIE Simulator
    
    ul(id="tour_LeftNavigation" class="nav navbar-nav navbar-collapse")
      include ./header/navigation.jade
      
    ul(id="tour_RightNavigation" class="nav navbar-nav navbar-right navbar-collapse")
      //- include ./header/toolbar.jade
      include ./header/options.jade
