nav(class="navbar navbar-default")
  div(class="container-fluid clearfix")

    div(class="navbar-header")
      a(class="navbar-brand") MARIE Simulator
    
    ul(class="nav navbar-nav navbar-collapse")
      li
        a(href="https://github.com/mathewmariani/marie-simulator/blob/master/cheatsheet.md") Cheatsheet
      li
        a(href="https://gist.github.com/mathewmariani/91f471422c4ac0b5ee37") Examples        
      li
        a(href="https://github.com/mathewmariani/marie-simulator") Github
      
    ul(class="nav navbar-nav navbar-right navbar-collapse")
      //- include header_filter.jade
      //- include header_cpu.jade
