div(class="panel panel-default")
  div(class="panel-body")
    p(class="lead") Runtime Information
      a(ng-click="halt()" class="close pull-right" data-toggle="tooltip" data-placement="bottom" title="Halt process")
        span(class="fa fa-stop" aria-hidden="true" style="padding-right: 5px;")
      a(ng-click="run()" class="close pull-right" data-toggle="tooltip" data-placement="bottom" title="Run code")
        span(class="fa fa-play" aria-hidden="true" style="padding-right: 5px;")
      a(ng-click="stepForward()" class="close pull-right" data-toggle="tooltip" data-placement="bottom" title="Step forward")
        span(class="fa fa-step-forward" aria-hidden="true" style="padding-right: 5px;")

    include registers.jade
    include runtime_output.jade
    include runtime_messages.jade
