div(class="h3")
  span(class="label label-success" ng-show="assembled && errors.length == 0")
    span(class="fa fa-check-circle" aria-hidden="true")  
    | Assembly successful

div(class="h3")
  span(class="label label-danger" ng-show="errors.length != 0")
    span(class="fa fa-times-circle" aria-hidden="true")  
    | Assembly failed
    
div(class="h3" ng-hide="assembled")
  span(class="label label-warning")
    span(class="fa fa-info-circle" aria-hidden="true")  
    | Needs assembling
