div(class="btn-group form-group" role="group")
  //- cpu speeds
  div(class="btn-group" role="group")
    button(class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
      | CPU Speed
      span.caret
    ul(class="dropdown-menu")
      li
        a(ng-click="selectSpeed(1)") 1 Hert
      li
        a(ng-click="selectSpeed(4)") 4 Hertz
      li
        a(ng-click="selectSpeed(8)") 8 Hertz
      li
        a(ng-click="selectSpeed(16)") 16 Hertz
        
        
  div(class="btn-group" role="group")
    button(class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
      | Output Filter
      span.caret
    ul(class="dropdown-menu")
      li
        a(ng-click="selectOutputFilter(16)") Hexadecimal
      li
        a(ng-click="selectOutputFilter(10)") Decimal
  
  //- show hide components        
  div(class="btn-group" role="group")
    button(class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
      | View
      span.caret
    ul(class="dropdown-menu")
      li
        a(data-toggle="collapse" href="#collapse_assembled") Toggle Assembled
      li
        a(data-toggle="collapse" href="#collapse_labels") Toggle Labels
      li
        a(data-toggle="collapse" href="#collapse_memory") Toggle Memory
      li
        a(data-toggle="collapse" href="#collapse_registers") Toggle Registers
