div(id="tour_AssemblyErrors" class="list-group")
  button(type="button" class="list-group-item" ng-repeat="error in assembly.errors")
    | {{ error.msg }}
    span(class="badge pull-right") {{ error.line }}
