div(class="panel panel-default")
  table(id="tour_AssemblyInstructions" class="table")
    thead
      tr
        th Address
        th Label
        th Opcode
        th Operand
        th Hexcode
    tbody
      tr(ng-repeat="item in assembly.instructions" ng-class="{'info':$index == currentAddress}")
        td {{ item.address | memoryfilter }}
        td {{ item.label }}
        td {{ item.opcode }}
        td {{ item.operand }}
        td {{ item.hexcode | memoryfilter }}
