doctype html
html(lang='en' ng-app='MARIESimulator')
  head
    include ./_includes/meta.jade
  body(ng-controller='Ctrl')
    include ./_includes/header.jade
    div(class="container")
      div(class="row")
        div(class="col-md-5")
          include ./_includes/machine.jade
          include ./_includes/assembly.jade        
        div(class="col-md-7")
          include ./_includes/editor.jade
          include ./_includes/memory.jade
          
    //- enable all tool tips
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
      // Initialize tours, maybe... read docs
      
      //machine_tour.init();
      //assembly_tour.init();
      // setup buttons for tours
      // maybe eventually use a directive for This
      $('#startGeneralTour').on('click', function() {
        general_tour.init();
        general_tour.start();
      });
      
      $('#startMachineTour').on('click', function() {
        machine_tour.init();
        machine_tour.start();
      });
      $('#startAssemblyTour').on('click', function() {
        assembly_tour.init();
        assembly_tour.start();
      });
